QMainWindow {
    background-color: #9FB6CD;
}

QLabel {
    color: black;
}

QTextEdit {
    color: black;
    background-color: white;
}

QFrame#button {
    border-right: 1px solid;
    border-bottom: 1px solid;
}

QFrame#button:disabled {
    background-color: #69839e;
    border-color: #304051;
}

QFrame#button:enabled{
    background-color: #304051;
    border-color: white;
}

QFrame#button:enabled:hover {
    background-color: #74a8ce;
    border: 2px solid white;
}

QScrollBar:vertical {
    width: 3px;
    background: rgba(105, 131, 158, 128);
}

QScrollBar::handle:vertical {
    background: rgba(48, 64, 81, 128); /* thumb */
    border-radius: 3px;
}

QScrollBar::handle:vertical:hover {
    background: #304051;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
    height: 0; /* hides arrows and extra areas */
}